
PUSHI 2
PUSHI 0
PUSHN 5

START

PUSHGP 
PUSHI 2
PADD
PUSHI 2
PUSHG 0
STOREN
PUSHGP
PUSHI 2
PADD
PUSHI 2
LOADN
WRITEI
PUSHGP
PUSHI 2
PADD
PUSHI 3
READ
ATOI
STOREN
PUSHGP
PUSHI 2
PADD
PUSHI 3
LOADN
WRITEI

STOP
