
PUSHN 5
PUSHI 0
PUSHI 0
PUSHI 0

START

PUSHI 1
STOREG 5
BEGINFOR1:

PUSHG 5
PUSHI 5
INFEQ
JZ ENDFOR1

READ
ATOI
STOREG 6
PUSHG 5
PUSHI 1
SUB
STOREG 7
PUSHGP 
PUSHI 0
PADD
PUSHG 7
PUSHG 6
STOREN
PUSHG 5
PUSHI 1
ADD
STOREG 5
JUMP BEGINFOR1

ENDFOR1:

PUSHI 5
STOREG 5
BEGINFOR2:

PUSHG 5
PUSHI 0
SUP
JZ ENDFOR2

PUSHG 5
PUSHI 1
SUB
STOREG 7
PUSHGP
PUSHI 0
PADD
PUSHG 7
LOADN
WRITEI
PUSHG 5
PUSHI 1
SUB
STOREG 5
JUMP BEGINFOR2

ENDFOR2:


STOP
