
PUSHI 0
PUSHI 1
ADD
PUSHI 2
EQUAL
PUSHI 0
PUSHG 0
PUSHG 1
SUPEQ

START

PUSHG 0
PUSHG 1
ADD
PUSHI 0
EQUAL
NOT
WRITEI
PUSHG 0
PUSHG 1
ADD
PUSHI 0
EQUAL
NOT
NOT
WRITEI
PUSHG 2
PUSHG 1
ADD
PUSHI 0
EQUAL
NOT
PUSHG 0
NOT
ADD
PUSHI 2
EQUAL
WRITEI

STOP
