
PUSHI 1
PUSHI 2
EQUAL
PUSHI 55

START

PUSHG 0
PUSHI 2
SUPEQ
WRITEI
PUSHI 3
PUSHI 3
INF
WRITEI
PUSHI 4
PUSHI 3
SUP
WRITEI
PUSHI 2
PUSHG 1
INFEQ
WRITEI
PUSHG 1
PUSHI 3
EQUAL
NOT
WRITEI
PUSHI 4
PUSHI 5
MUL
PUSHI 2
PUSHI 1
DIV
ADD
PUSHG 1
PUSHI 4
PUSHI 1
SUB
ADD
PUSHI 3
PUSHI 1
DIV
PUSHI 2
MUL
SUB
PUSHI 2
PUSHI 1
ADD
PUSHI 1
PUSHI 1
MOD
ADD
MOD
SUPEQ
WRITEI

STOP
